.w {
    height: 30px;
    line-height: 30px;
    background-color: #e3e4e5;
}

.w div {
    width: 718px;
    margin: auto;
    line-height: 27px;
}

.fr {
    display: block;
}

.fr .dt0 {
    width: 128px;
    float: left;
    text-align: center;
}

.fr .dt1 {
    width: 77px;
    float: left;
    text-align: center;
    position: relative;
}
.fr .dt2 {
    width: 77px;
    float: left;
    text-align: center;
}

.fr .dt {
    width: 62px;
    float: left;
    text-align: center;
}

.iconfont {
    border: solid #999;
    border-width: 0 1.5px 1.5px 0;
    display: inline-block;
    padding: 2px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-left: 8px;
    margin-bottom: 2px;
}

a:hover {
    color: #e33333;
}

.red {
    color: #f10215;
}

a {
    color: #999;
    text-decoration: none;
    font-size: 12px;
}

.spacer {
    float: left;
    overflow: hidden;
    margin: 11px 5px 0;
    width: 1px;
    height: 10px;
    background-color: #ccc;
}
.一级菜单{
    position: relative;
}
.一级菜单 .dt1 ul{
    display: none;
    position: absolute;
    background-color: #fff;
    width: 282px;
    height: 163px;
}
.一级菜单 .dt1 ul li{
    font-size: 12px;
    color: #999;
}
.dt1:hover{
    background-color: white;
}
.cd:hover{
    color: white;
    background-color: white;
}
.fr .一级菜单:hover  ul{
display: block;
}
.二级菜单 .left{
    float: left;
    width: 136px;
    text-align: left;
    padding-left: 8px;
    
    border: 1px solid;
    border-color:rgba(153,153,153, 0.3) ;
    border-top:none ;
    border-left:none ;
    border-right:none ;
    padding-bottom:14px;
}

.二级菜单 .right{
    float: right;
    width: 138px;
    text-align: left;
    border: 1px solid;
    border-top:none ;
    border-left:none ;
    border-right:none ;
    padding-bottom:14px;
    border-color:rgba(153,153,153, 0.3) ;
}
.二级菜单 .A{
    background-color: #fff;
    width: 282px;
    height: 163px;
    box-shadow:0px  0px px#000;
    border:1px solid ;
    border-color:rgba(153,153, 153, 0.5) ;
    border-top:none;
    box-shadow: 1px 2px 1px rgb(0 0 0 / 10%);
}
.二级菜单 .A li:hover{
    color: #e33333;
}